configuration{
    modi: "drun";
    lines: 5;
    font: "Iosevka Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus-dark";
    terminal: "foot";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps";
    display-run: "   Run";
    display-window: "   Window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

@theme "theme"