* {
  border: none;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  min-height: 0px;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  opacity: 1.0;
}

window#waybar {
  background: black;
}

#workspaces {
  text-align: center;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  color: #ff0000;
  padding-left:  8px;
  padding-right: 8px;
}

#workspaces button.empty {
  color: #26ff00;
}

#workspaces button.active {
  color: #0022ff;
}

#cpu, #memory, #disk, #clock {
  text-align: center;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
}